<%= render 'shared/user_form', :title=>'Edit User'%>
<div>
  <%= gravatar_for @user %>
<!--  <%= link_to "change", "http://gravatar.com/emails", :target => "_blank" %>
-->
  <a href="http://gravatar.com/emails", target="blank">change</a>

</div>

